html { overflow-y: hidden; }

body {
  margin: 0;
  font-family: Untitled Sans, -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  color: hsl(206, 10%, 5%);
  line-height: 1;
}

svg {
  display: block;
  vertical-align: middle;
}

html,
body,
#root,
#__next,
#__next > div,
.theme-0 {
  height: 100%;
}
